<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="Ookii.Dialogs.WinForms" version="1.1.0" targetFramework="net452" />
  <package id="Pri.LongPath" version="2.0.53" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.112.1" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.1" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.1" targetFramework="net452" />
</packages>